@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/public/danau-ranu-kumbolo-gunung-semeru.jpg') no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
}